*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{

min-height:100vh;

background:
linear-gradient(
135deg,
#ffd6f6,
#d9c5ff,
#fff0c9
);

overflow-x:hidden;
color:white;
}

.container{

max-width:700px;
margin:auto;
padding:30px 20px;
text-align:center;

}

h1{

margin-top:20px;
font-size:2.3rem;

}

.subtitle{

margin:15px 0 35px;
opacity:.9;

}

.player{

background:rgba(255,255,255,.15);

backdrop-filter:blur(15px);

padding:25px;

border-radius:30px;

box-shadow:
0 10px 40px rgba(0,0,0,.15);

}

.disc-container{

display:flex;
justify-content:center;

}

.disc{

width:170px;
height:170px;

border-radius:50%;

background:
linear-gradient(
45deg,
#ffffff,
#ffe3f4,
#fff7cf
);

display:flex;
align-items:center;
justify-content:center;

font-size:60px;

margin-bottom:20px;

box-shadow:
0 0 30px rgba(255,255,255,.6);

}

.disc.playing{

animation:spin 8s linear infinite;

}

@keyframes spin{

100%{
transform:rotate(360deg);
}

}

.song-info h2{

color:white;
margin-bottom:8px;

}

.progress-container{

height:10px;
background:rgba(255,255,255,.25);

border-radius:20px;

cursor:pointer;

margin:25px 0 10px;

overflow:hidden;

}

.progress{

width:0;
height:100%;

background:white;

}

.time{

display:flex;
justify-content:space-between;

margin-bottom:20px;

font-size:.9rem;

}

.controls button,
.extras button{

border:none;

padding:12px 18px;

border-radius:20px;

cursor:pointer;

margin:5px;

font-size:16px;

}

.controls{

margin-bottom:15px;

}

.volume{

margin-top:15px;

}

#volumeSlider{

width:220px;

}

.playlist{

margin-top:30px;

}

.song{

background:rgba(255,255,255,.15);

padding:15px;

border-radius:15px;

margin-bottom:10px;

cursor:pointer;

transition:.3s;

}

.song:hover{

transform:translateY(-3px);

}

.song.active{

border:2px solid white;

}

.stars{

position:fixed;
inset:0;
pointer-events:none;

}

.star{

position:absolute;

width:4px;
height:4px;

background:white;

border-radius:50%;

animation:twinkle 3s infinite;

}

@keyframes twinkle{

50%{
opacity:.2;
}

}

@media(max-width:600px){

.disc{

width:140px;
height:140px;

}

}
